doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |   
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |   
    title paipaiSDK DEMO1
    |   
    link(rel='stylesheet', href='./css/index.css')
  body
    header paipaiSDK&#x534F;&#x8BAE;&#x5217;&#x8868;
    .content
      ul.onlycall
        .tip &#x8BF4;&#x660E;&#xFF1A;&#x4EC5;&#x5524;&#x8D77;&#x539F;&#x751F;&#x9875;&#x9762;
        |     
        li#mymarket.blue &#x5524;&#x8D77;&#x6211;&#x7684;&#x96C6;&#x5E02;&#x9875;
        |     
        li#marketHome.blue &#x5524;&#x8D77;&#x96C6;&#x5E02;&#x9996;&#x9875;
        |     
        li#marketCreate.blue &#x5524;&#x8D77;&#x521B;&#x5EFA;&#x96C6;&#x5E02;&#x9875;
        |     
        li#marketDetail.blue &#x5524;&#x8D77;&#x96C6;&#x5E02;&#x8BE6;&#x60C5;&#x9875;&#x9762;
        |     
        li#marketInviteList.blue &#x5524;&#x8D77;&#x96C6;&#x5E02;&#x5DF2;&#x9080;&#x8BF7;&#x5217;&#x8868;
        |     
        li#mymarketpp.red &#x5524;&#x8D77;&#x6211;&#x7684;&#x96C6;&#x5E02;&#x9875;
        |     
        li#marketHomepp.red &#x5524;&#x8D77;&#x96C6;&#x5E02;&#x9996;&#x9875;
        |     
        li#marketCreatepp.red &#x5524;&#x8D77;&#x521B;&#x5EFA;&#x96C6;&#x5E02;&#x9875;
        |     
        li#callfengkong.red &#x98CE;&#x63A7;&#x5524;&#x8D77;&#x534F;&#x8BAE;(&#x4E0D;&#x901A;)
        |     
        li#callCheckPhone.red &#x5524;&#x8D77;&#x539F;&#x751F;&#x624B;&#x673A;&#x68C0;&#x6D4B;(&#x5DF2;&#x4E0B;&#x7EBF;)
        |     
        li#callReCheckPhone.red &#x5524;&#x8D77;&#x539F;&#x751F;&#x624B;&#x673A;&#x91CD;&#x65B0;&#x68C0;&#x6D4B;(&#x672A;&#x8C03;&#x901A;&#xFF0C;&#x5DF2;&#x4E0B;&#x7EBF;)
        |     
        li#goAppHome.blue &#x56DE;&#x5230;app&#x9996;&#x9875;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#goMyHome.blue &#x56DE;&#x5230;&#x6211;&#x7684;&#x9996;&#x9875;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#goUserHome.blue &#x67E5;&#x770B;&#x7528;&#x6237;&#x9996;&#x9875;&#xFF08;&#x5DF2;&#x6D4B;&#x8BD5;&#xFF09;
        |     
        li#goMessageList.blue &#x6253;&#x5F00;&#x6D88;&#x606F;&#x5217;&#x8868;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#openSearch.blue &#x539F;&#x751F;&#x641C;&#x7D22;&#x9875;&#x9762;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#openCategory.blue &#x6253;&#x5F00;&#x5206;&#x7C7B;&#x9875;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#openActivity.red &#x6253;&#x5F00;&#x6D3B;&#x52A8;&#x9875;(&#x6253;&#x4E0D;&#x5F00;)
        |     
        li#openC2CDetail.blue &#x6253;&#x5F00;C2C&#x8BE6;&#x60C5;&#x9875;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#openReSale.red &#x4E00;&#x952E;&#x8F6C;&#x5356;&#x5546;&#x54C1;(&#x6253;&#x4E0D;&#x5F00;)
        |     
        li#openGoodsEdit.blue &#x6253;&#x5F00;&#x5546;&#x54C1;&#x7F16;&#x8F91;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#openhuanxinChat.blue &#x6253;&#x5F00;&#x73AF;&#x4FE1;&#x804A;&#x5929;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#openIMHome.blue &#x6253;&#x5F00;&#x804A;&#x5929;&#x5BA4;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#openBigImg.red &#x67E5;&#x770B;&#x5927;&#x56FE;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#closePage.blue &#x5173;&#x95ED;&#x9875;&#x9762;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#openSearchResult.blue &#x8DF3;&#x8F6C;&#x539F;&#x751F;&#x641C;&#x7D22;&#x7ED3;&#x679C;&#x9875;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#openPublish.blue &#x6253;&#x5F00;&#x4E00;&#x952E;&#x8F6C;&#x5356;&#x5217;&#x8868;&#x9875;&#x9762;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#openB2CDetail.blue &#x6253;&#x5F00;B2C&#x5546;&#x54C1;&#x8BE6;&#x60C5;(&#x5F85;&#x5BA1;&#x6838;)
        |     
        li#openC2cPublish.blue &#x5524;&#x8D77;C2C&#x53D1;&#x5E03;&#x9875;&#x9762;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#showSearchList.blue &#x5524;&#x8D77;&#x5E97;&#x94FA;&#x641C;&#x7D22;(&#x5F85;&#x5BA1;&#x6838;)
        |     
        li#publishMask.blue &#x9E48;&#x9E55;&#x6309;&#x94AE;&#x906E;&#x7F69;&#x5C42;(&#x5DF2;&#x6D4B;&#x8BD5;)
      |   
      ul.callback.hide
        .tip &#x8BF4;&#x660E;&#xFF1A;&#x8C03;&#x7528;&#x539F;&#x751F;&#x65B9;&#x6CD5;&#xFF0C;&#x83B7;&#x5F97;&#x624B;&#x673A;&#x4FE1;&#x606F;
        |     
        li#openScan.blue &#x5524;&#x8D77;&#x4E8C;&#x7EF4;&#x7801;&#x626B;&#x7801;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#openLocation.red &#x6253;&#x5F00;&#x5B9A;&#x4F4D;&#xFF08;&#x6253;&#x4E0D;&#x5F00;&#xFF09;
        |     
        li#openShare.red &#x6253;&#x5F00;&#x5206;&#x4EAB;(&#x6253;&#x4E0D;&#x5F00;)
        |     
        li#openLogin.red &#x6253;&#x5F00;&#x767B;&#x9646;(&#x6253;&#x4E0D;&#x5F00;)
        |     
        li#openLogout.blue &#x9000;&#x51FA;&#x767B;&#x9646;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#getPhoneInfo.red &#x83B7;&#x53D6;&#x672C;&#x673A;&#x4FE1;&#x606F;(&#x6253;&#x4E0D;&#x5F00;)
        |     
        li#getPhoneDetect.red &#x83B7;&#x53D6;&#x539F;&#x751F;&#x68C0;&#x6D4B;&#x534F;&#x8BAE;(&#x6253;&#x4E0D;&#x5F00;)
        |     
        li#aiHuiShouDetect.red &#x521D;&#x6B21;&#x83B7;&#x53D6;&#x539F;&#x751F;&#x68C0;&#x6D4B;&#x534F;&#x8BAE;(&#x6253;&#x4E0D;&#x5F00;)
        |     
        li#aiHuiShouRedetect.red &#x5524;&#x8D77;&#x91CD;&#x65B0;&#x68C0;&#x6D4B;(&#x6253;&#x4E0D;&#x5F00;)
      |   
      ul.set.hide
        .tip &#x8BF4;&#x660E;&#xFF1A;&#x8C03;&#x7528;&#x65B9;&#x6CD5;&#xFF0C;&#x8BBE;&#x7F6E;&#x539F;&#x751F;&#x9875;&#x9762;&#x5C5E;&#x6027;&#xFF0C;&#x4F8B;&#x5982;&#x5206;&#x4EAB;&#xFF0C;title&#xFF0C;&#x7B49;
        |     
        li.setRightInfo(data-type='1') &#x5206;&#x4EAB;&#x573A;&#x666F; 0&#x6216;&#x8005;&#x4E0D;&#x4F20;&#xFF1A;&#x56FE;&#x6587;&#x5206;&#x4EAB;
        |     
        li.setRightInfo(data-type='2') &#x5206;&#x4EAB;&#x573A;&#x666F;  0&#x6216;&#x8005;&#x4E0D;&#x4F20;&#xFF1A;&#x56FE;&#x6587;&#x5206;&#x4EAB;
        |     
        li.setRightInfo(data-type='3') &#x5206;&#x4EAB;&#x573A;&#x666F;   1&#xFF1A;&#x5207;&#x5C4F;&#x7EAF;&#x56FE;&#x7247;&#x5206;&#x4EAB;
        |     
        li.setRightInfo(data-type='4') &#x5206;&#x4EAB;&#x573A;&#x666F;   2&#xFF1A;url&#x94FE;&#x63A5;&#x7684;&#x7EAF;&#x56FE;&#x7247;&#x5206;&#x4EAB;
        |     
        li#scanQRCodeOpenWebPage(data-type='4') &#x626B;&#x4E00;&#x626B;&#x6D4B;&#x8BD5;
        |     
        li#setTitle.blue &#x8BBE;&#x7F6E;title(dadsad)
        |     
        li#setTopBarShare.blue &#x8BBE;&#x7F6E;&#x9876;&#x90E8;&#x5206;&#x4EAB;&#x663E;&#x793A;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#setTopBarSearch.blue &#x8BBE;&#x7F6E;&#x9876;&#x90E8;&#x641C;&#x7D22;&#x663E;&#x793A;(&#x5DF2;&#x6D4B;&#x8BD5;)
        |     
        li#changeNickname.red h5&#x4FEE;&#x6539;&#x6635;&#x79F0;(&#x5F85;&#x5BA1;&#x6838;)
        |     
        li#saveImage.red &#x4FDD;&#x5B58;&#x7167;&#x7247;&#x534F;&#x8BAE;&#xFF08;&#x5F85;&#x5BA1;&#x6838;&#xFF09;
        |     
        li#pickImage.blue &#x9009;&#x62E9;&#x7167;&#x7247;/&#x4E0A;&#x4F20;&#x7167;&#x7247;&#xFF08;&#x5DF2;&#x6D4B;&#x8BD5;&#xFF09;
        |     
        li#setAPPInfo.blue H5&#x9875;&#x9762;&#x5BFC;&#x822A;&#x680F;&#x4E0A;&#x9644;&#x52A0;UI&#x5143;&#x7D20;&#xFF08;&#x5DF2;&#x6D4B;&#x8BD5;&#xFF09;
    footer.menu
      li.submenu.selected &#x5524;&#x8D77;&#x534F;&#x8BAE;
      |   
      li.submenu &#x56DE;&#x8C03;&#x534F;&#x8BAE;
      |   
      li.submenu &#x8BBE;&#x7F6E;&#x534F;&#x8BAE;
  script(type='text/javascript', src='js/jquery-3.2.1.js')
  // <script type="text/javascript" src="/c2c/js/widget/paipaiSDK.js"></script>
  script(type='text/javascript', src='./../../js/widget/paipaiSDK.js')
  script(type='text/javascript', src='js/index.js')
